<!-- <p>Conceitos e Feedbacks</p>
<p-accordion [multiple]="true">
  <p-accordionTab
    *ngFor="let reg of registrosAvaliacaoAtual"
    header="{{ reg.participante.grupo.unidadeCurricular.nome }}"
  >
    <p-table
      [value]="registrosAvaliacao"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Avaliação</th>
          <th>Conceito</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reg>
        <tr>
          <td>{{ reg.avaliacaoTipo.descricao }}</td>
          <td>{{ reg.avaliacaoConceito.descricao }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion> -->
